.menuParent{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.menuChild{
    flex: 1;
    border: 3px solid white;
    background-color: orange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.home {
    background-color: #faba6b;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1{
    font-size: 48px;
}

.header_img{
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    margin: 10px;
}