/** 
Main CSS file for project site
*/

.menuParent{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.menuChild{
    flex: 1;
    border: 3px solid white;
    background-color: orange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.home {
    background-color: #faba6b;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1{
    font-size: 48px;
}

.header{
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    margin: 10px;
    padding: 3px;
}

p{
    font-size: 22px;
}

.main{
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    margin: 10px;
    padding: 3px;
}

.make_table img{
    height: 128px;
    width: 128px;
}

.make_table table{
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

.make_table td {
    padding: 15px;
}

.featured_table table{
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: 3px solid;
}

.featured_table td, tr{
    border: 3px solid;
    text-align: center;
}

.featured_table img{
    width: 550px;
    height: 280px;
}

/* Media query to resize large elements on mobile */
@media screen and (max-width: 900px){
    .header img{
        height: 70px;
        width: 200px;
    }
    h1{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
    .featured_table img{
        height: 70px;
        width: 138px;
    }
    .make_table img{
        height: 32px;
        width: 32px;
    }
}